specialist/XML/module_03/src/labs/lab-3_1.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:complexType name="employeeType">
        <xs:sequence>
            <xs:element name="firstName" type="xs:string"/>
            <xs:element name="lastName" type="xs:string"/>
            <xs:element name="age" type="xs:positiveInteger"/>
            <xs:element name="birthday" type="xs:date"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="employee" type="employeeType"/>
</xs:schema>